<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:15</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell (Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:30</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:30</td>        <!-- time    -->
        <td>Version Control with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>15:00</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>15:15</td>        <!-- time    -->
        <td>Version Control with Git (Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:45</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>09:15</td>        <!-- time    -->
        <td>R for Reproducible Scientific Analysis</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:45</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>R for Reproducible Scientific Analysis</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:30</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:30</td>        <!-- time    -->
        <td>R for Reproducible Scientific Analysis (Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:00</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:15</td>        <!-- time    -->
        <td>R for Reproducible Scientific Analysis (Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:45</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
